@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pallete-1: #0F172A;
  --pallete-2: #3B82F6;
  --pallete-3: #94A3B8;
  --pallete-4: #F8FAFC;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: black;
  color: white;
}

#root {
  height: 100%;
}

.header-nav-item {
  @apply ml-[-8px] md:ml-[-16px] px-3 md:px-5 py-2 rounded-xl hover:text-pallete-4 hover:bg-pallete-2 cursor-pointer font-payasage
}